# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
pubspec.lock

# Android
android/
*.apk
*.aab

# iOS
ios/
*.ipa

# macOS
macos/

# Windows
windows/

# Linux
linux/

# Web
web/

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
